#--------------------------------------------------------------------
# CodeIgniter 4
#--------------------------------------------------------------------
vendor/
.env
.phpunit.result.cache

#--------------------------------------------------------------------
# Writable Directory
#--------------------------------------------------------------------
writable/cache/*
!writable/cache/index.html
writable/debugbar/*
!writable/debugbar/index.html
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/uploads/*
!writable/uploads/index.html

#--------------------------------------------------------------------
# IDE / OS Files
#--------------------------------------------------------------------
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
